* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.starting {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #177cd5db;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}
button {
  padding: 15px 20px;
  font-size: 30px;
  border: none;
  box-shadow: 1px 2px 25px #ff5757;
  -webkit-box-shadow: 1px 2px 25px #ff5757;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  cursor: pointer;
}
.start-btn,
.page-check-btn {
  background-color: crimson;
  color: white;
}
.main {
  width: 80%;
  margin: 20px auto;
}
.head {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  justify-content: space-between;
  border: 2px #116fb1 solid;
  padding: 21px;
  font-size: 19px;
  background-color: #fbfbfb;
  margin-bottom: 20px;
}
.memory-game-blocks {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  gap: 10px;
}
.memory-game-block {
  flex: 1 0 144px;
  -webkit-flex: 1;
  -ms-flex: 1;
  height: 154px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.memory-game-block.flip,
.memory-game-block.achive {
  transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  pointer-events: none;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px #116fb1 solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.front {
  background-color: rgb(55, 156, 156);
}
.front::before {
  content: "!";
  font-size: 140px;
  font-weight: bold;
}
.back {
  background-color: rgb(61, 108, 168);
  transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.memory-game-block img {
  width: 110px;
  height: 110px;
  margin-top: 16px;
}
.stop-click {
  pointer-events: none;
}
.page-check {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;
  top: 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-check-parag {
  font-size: 81px;
  font-weight: 800;
  margin-bottom: 30px;
}
.wellDoneContainer {
  background-color: #2addc1a3;
}

.wellDone {
  color: #ff095c;
}
.gameoverContainer {
  background-color: #ff0000d6;
}
.gameover {
  color: #e2e7ff;
}
